.glyphicon {
 font-size: 50px;
}
body {
  background-color: #f3f3f6;
}

.mainContain {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/02/08/58/background-texture-2110724__340.jpg);
}
.header {
 background-color:white;
 margin-bottom:35px;
}
.item {
 width: 50%;
 background-color: white;
 margin-bottom:15px;
}
.content .col-dm-4 {
 text-align: center;
}
  
